<h1>Sign-up Form</h1>

<form method="POST" action="/register">
	<!-- the name attributes will send data to our server -->
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button>Register</button>
</form>